// Place all the styles related to the gear controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  width: 100%;
  height: 600px;
}
#map .leaflet-google-layer {
  z-index: 0;
}
#map .leaflet-map-pane {
  z-index: 100;
}
